<% content_for(:forum_content) do%>
	<div class="row">
		<div class="col-lg-12">
			<h1>Hoşgeldiniz</h1>
			<div class="topic">
				<% if @topics.any?%>
					<%= render @topics%>
				<%else%>
					<p>Henüz hiçbir konu açılmamış</p>
				<%end%>
			</div>
		</div>
	</div>	
<%end%>