<% content_for(:forum_content) do%>
	<div class="row">
		<div class="col-lg-12">
			<h1><%= @forum.name %> Forumu</h1>
			<% if signed_in?%>	
				<%= link_to "Yeni konu",new_forum_topic_path(@forum),class:"btn btn-secondary"%>
			<%end%>
			<% if @forum.topic.any?%>
				<%= render @forum.topic%>
			<%else%>
				<p>Henüz hiç konu oluşturulmamış</p>
			<%end%>
		</div>
	</div>
<%end%>