<% content_for(:forum_content) do%>
	<div class="row">
		<div class="col-lg-12">
			<h1><%= @forum.name %> Forumu</h1>
			<% @konular.each do |konu|%>
				<p><%= konu.title%><%# link_to konu.title,konu%></p>
			<%end%>
		</div>
	</div>
<%end%>