<div class="row">
	<div class="col-lg-12">
		<h1><%= @topic.title%></h1>
		<p><%= @topic.body%></p>
		<%= topic_info(@topic)%>
	</div>
	<div class="col-lg-12">
		<h4>Konuya yorum yapın</h4>
		<%= render "form"%>
	</div>
</div>