<%= stylesheet_link_tag "new_user"%>
<%= content_for(:profile_content) do%>
	<div class="col-lg-12">
		<h2>Profilimi düzenle</h2>
		<%= render partial:"form",locals:{button_title:"Düzenle"}%>
	</div>
<%end%>
