<% if object.errors.any?%>
	<div class="col-4 alert alert-danger">
		<h2>Lütfen aşağıdaki hataları düzeltip tekrar deneyin</h2>
		<ul>
			<% object.errors.full_messages.uniq.each do |error|%>
				<li><%= error%></li>
			<%end%>
		</ul>
	</div>
<%end%>