<% content_for(:content) do%>
	<%= stylesheet_link_tag "forums"%>
	<div class="row">
		<div class="col-lg-3 itele">
			<div class="renklendir">
				<h3>Forumlar</h3>
				<div class="row">
					<%= render partial:"layouts/forum",locals:{forumlar:@forumlar}%>
				</div>
			</div>
		</div>
		<div class="col-lg-8 itele border">
			<%= yield :forum_content%>
		</div>
	</div>
<%end%>

<%= render template:"layouts/application"%>